$XSizeCard: 120px;
$YSizeCard: 180px;

.app {
	width: 100vw;
	height: 100vh;

	background-color: #fff;
	padding: 20px 70px;

	display: flex;

	max-width: 1920px;
}
.app__left {
	width: 75%;

	display: flex;
	flex-direction: column;

	.app__content {
	}

}
.app__right {
	width: 25%;
	padding-left: 30px;
	display: flex;
}
.app__content {
	border-radius: 10px;
	background-color: #F4FAFA;
	width: 100%;
	padding: 40px 4px;

	&.app__content_padding {
		padding-left: 80px;
		padding-right: 80px;
	}
}
.app__left__top {
	height: 35%;
	width: 100%;
	display: flex;
}
.app__left__bottom {
	padding-top: 3%;
	height: 67%;
	width: 100%;

	display: flex;
	overflow: hidden;
	.app__content {
		overflow: auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		transition: 0.3s;
		&.app__content_select {
			box-shadow: inset 0px 0px 10px rgba(14, 204, 52, 0.5);
			transition: 0.3s;
		}
	}
	.app__slider__item, .app__content__item  {
		display: block;
		float: unset;
		height: unset;

		img {
			padding: 0px;
		}
	}
	.app__slider__wrapper {
		min-width: 145px;
		min-height: 257px;
		padding: 0 10px;
		margin: 0 10px 20px 10px;
		position: relative;

		background-color: #fff;

		p {
			display: block;
			width: 100%;
			margin: 0px;
			padding: 0 10px;
			min-height: 40px;

			position: absolute;
			z-index: 2;
			cursor: pointer;
			text-align: center;
		    left: 0px;
		    right: 0px;
		    top: calc(100% - 40px);

		    transition: 0.3s;

		    &.select {
		    	box-shadow: inset 0px 0px 10px rgba(14, 204, 52, 0.5);
				transition: 0.3s;
		    }
		}
	}
}
.app__title {
	display: block;

	font-family: Gilroy;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	text-align: center;

	margin-bottom: 22px;
}



.app__select__title{
	padding-bottom: 11px;
	display: block;

	font-family: Gilroy;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	text-align: center;
}



/* Кнопки */
.app__btn-collection-wrapper {
	padding: 8px 11px 13px 11px;
	background-color: #fff;
	margin-bottom: 22px;

	&:last-child {
		margin: 0px;
	}

	.btn {
		border: 0px;
		border-radius: 15px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
		background-color: #fff;

		font-family: Gilroy;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;

		color: #898989;
		text-align: center;

		padding: 7px;
		min-width: 100px;
		transition: 0.3s;

		text-transform: lowercase;

		&.active {
			box-shadow: unset;
			background-color: #3B99FD;
			color: #FFFFFF;
			transition: 0.3s;
		}
	}
}
.app__slider {
	width: 100%;
	overflow-y: auto;

	.card__koloda {
		width: 100%;
		display: inline-flex;
	}
}






.card {
	width: $XSizeCard;
	height: $YSizeCard;
	border: 0px;
	margin-right: 15px;
	a {
		display: block;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
	}

	&.card_close {
		position: relative;

		&:before {
			content: "";
			display: block;

			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;

			background-color: rgba(36, 36, 36, 1);
		}
	}
	&:hover {
		cursor: pointer;
	}
}


.card-wrapper {
	display: block;
	padding: 10px;
	background-color: #fff;
	margin-right: 15px;
	&.card_close {
		position: relative;

		&:before {
			content: "";
			display: block;

			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			left: 0px;

			background-color: rgba(36, 36, 36, 1);
		}
	}
	&:hover {
		text-decoration: none;
		p {
			color: #000;
		}
	}
}
.card__preview {
	width: $XSizeCard;
	height: $YSizeCard;

	overflow: hidden;
	img {
		width: 100%;
	}
}
.card__text {
	min-height: 40px;
	p {
		min-height: 40px;
		font-size: 14px;
		line-height: 140%;
		margin: 0px;
		text-align: center;
		color: #000;
		text-decoration: none;
	}
}
.card__description_full {
	width: 100%;
	height: 100%;

	margin: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
}


.rasklad {
	.card {
		width: $XSizeCard + 20px;
		height: $YSizeCard + 20px;
		padding: 10px;
	}
}
