extends base.pug
block content
	div(class="app")
		div(class="app__left")
			div(class="app__left__top")
				div(class="app__content app__content_padding")
					span(class="app__title")
						| Доступные колоды
					div(class="app__slider")
						div(class="card__koloda" id="div1" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)")
			div(class="app__left__bottom")
				div(class="app__content rasklad" id="div2" ondrop="CardDrop(event, this)" ondragover="allowDragover(event)")
		div(class="app__right")
			div(class="app__content")
				span(class="app__title")
					| Доступные колоды
				div(class="app__select")
					div(class="app__btn-collection-wrapper" data-button-type="0")
						span(class="app__select__title")
							| Портрет
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые
					div(class="app__btn-collection-wrapper" data-button-type="1")
						span(class="app__select__title")
							| Тест
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые
					div(class="app__btn-collection-wrapper" data-button-type="2")
						span(class="app__select__title")
							| Текст
						div(class="d-flex justify-content-between")
							button(class="btn" type="button" data-button-mode="1")
								| Открытие
							button(class="btn" type="button" data-button-mode="0")
								| Закрытые
